.container {
  padding: 3rem 2rem;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceDiscount {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.discount {
  background: #000;
  color: var(--White);
  padding: 0.5rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  display: inline-block;
  margin-inline-start: 2rem;
}
.priceOriginal {
  font-size: 2rem;
  color: var(--Dark-grayish-blue);
  font-weight: 800;
  text-decoration: line-through;
}

.counter {
  background: var(--Light-grayish-blue);
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem;
}

.minusAllowed{
  cursor: not-allowed;
  opacity: .3;
  width: 1.5rem;
  height: 1rem;
}
.minus{
  opacity: 1;
  cursor: pointer;
  width: 1.5rem;
  height: 1rem;
}

.quantityProduct {
  font-size: 1.6rem;
  font-weight: 700;
}
.plus{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.add {
  width: 100%;
}

.btnAdd {
  width: 100%;
  border-radius: 1rem;
  border: none;
  background: var(--Orange);
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(255, 125, 26, 1);
  cursor: pointer;
}
.btnAddDisable{
  opacity: .5;
  pointer-events: none;
  box-shadow: none;
}
.btnAdd img {
  width: 1.5rem;
  height: 1.5rem;
}
.btnAdd span {
  display: inline-block;
  margin-inline-start: 1rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--Very-dark-blue);
}

@media (min-width: 1024px) {
  .priceContainer{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-block-start: 4rem;
  }
  .price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .counter {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    width: 60%;
    padding: 2rem 1rem;
    margin: 0;
  }
  .btnAdd {
    padding: 2rem 1rem;
  }
}