.container {
  padding: 2rem;
}

.subtitle {
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-block-end: 1rem;
  display: inline-block;
}

.title{
   font-size: 3rem;
   margin-block-end: 1rem;
}
.info{
   font-size: 1.5rem;
   color: var(--Grayish-Blue);
   font-weight: 700;
   line-height: 2.5rem;
}