@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
   /* Colors */

  /* Primary */
  
  --Orange: #ff7d1a;
  --Pale-orange: #ffede0;
  
  /* Neutral */
  
  --Very-dark-blue: #1d2025;
  --Dark-grayish-blue: #68707d;
  --Grayish-Blue: #b6bcc8;
  --Light-grayish-blue: #f7f8fd;
  --White: #ffffff;
  --Black: rgba(0, 0, 0, .75);  /*with 75% opacity for lightbox background*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

.layout{
  width: 100%;
  min-height: 100vh;
  padding-block: 7rem;
}

@media (min-width: 1024px) {
  .layout{
    padding-inline: 10rem;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}

